<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Movies List</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/Sneat/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/css/Sneat/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/css/Sneat/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/css/Sneat/demo.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/css/Sneat/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/static/css/cineverse.css" />

    <!-- Helpers -->
    <script src="/static/js/Sneat/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/js/Sneat/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!--        <aside th:replace="fragments/Sidebar :: sidebar"></aside>-->

        <!-- Layout container -->
        <div class="layout-page">

            <nav th:replace="fragments/Header :: header"></nav>

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">

                    <!-- Toast with Placements -->
                    <div
                            id="notification-toast"
                            class="bs-toast toast toast-placement-ex m-2 fade top-0 end-0"
                            role="alert"
                            aria-live="assertive"
                            aria-atomic="true"
                            data-bs-delay="2000">
                        <div class="toast-header">
                            <i class="bx bx-bell me-2"></i>
                            <div class="me-auto fw-medium">CineVerse</div>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div th:if="${status} == 'updateSuccess'" class="toast-body">Record has been successfully updated</div>
                        <div th:if="${status} == 'additionSuccess'" class="toast-body">Record has been successfully added</div>
                        <div th:if="${status} == 'passwordsDoNotMatch'" class="toast-body">Update Failed! Passwords you entered does not match!</div>
                        <div th:if="${status} == 'recordAlreadyExists'" class="toast-body">Save/Update Failed! A Record with the same name already exists!</div>
                    </div>
                    <!-- Toast with Placements -->

                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Content Panel /</span> Movies</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="/content/panel/actors"><i class="bx bx-book-content me-1"></i> Actors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/content/panel/genres"><i class="bx bx-book-content me-1"></i> Genres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/content/panel/languages"><i class="bx bx-book-content me-1"></i> Languages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#"><i class="bx bx-movie me-1"></i> Movies</a>
                                </li>
                            </ul>

                            <div class="card">
                                <div th:replace="modals/AddMovie :: addMovie"></div>
                            </div>

                            <!-- Borderless Table -->
                            <div class="card mb-4">
                                <div class="card-header flex-column flex-md-row borderless-table-header">
                                    <div class="head-label text-center">
                                        <h5 class="card-title mb-0">Registered Movies</h5>
                                    </div>
                                    <div class="dt-action-buttons text-end pt-3 pt-md-0">
                                        <div class="dt-buttons">
                                            <button class="dt-button create-new btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addMovieModal">
                                                <i class="bx bx-plus me-sm-1"></i>
                                                <span class="d-none d-sm-inline-block">Add New Record</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body table-responsive text-nowrap">
                                    <table class="table table-bordered">

                                        <thead>
                                        <tr>
                                            <th>Movie Name</th>
                                            <th>Description</th>
                                            <th>Release Date</th>
                                            <th>Rating</th>
                                            <th>Trailer Link</th>
                                            <th>Image Link</th>
                                            <th>Available Languages</th>
                                            <th>Actors</th>
                                            <th>Genres</th>
                                            <th>Addition Date</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each = "movie : ${movieList}">
                                            <td>
                                                <span th:text="${movie.getMovieName()}" class="fw-medium">Name - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieDescription()}" class="fw-medium">Description - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieReleaseDate()}" class="fw-medium">Release Date - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieRating()}" class="fw-medium">Rating - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieTrailer()}" class="fw-medium">Trailer Link - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieImageURI()}" class="fw-medium">Image Link - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieLanguages()}" class="fw-medium">Available Languages - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieActors()}" class="fw-medium">Actors - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getMovieGenres()}" class="fw-medium">Genres - X</span>
                                            </td>

                                            <td>
                                                <span th:text="${movie.getCreationDate()}" class="fw-medium">Creation Date - X</span>
                                            </td>

                                            <td>
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" th:href = "@{/content/movie/update(ID=${movie.getID()})}">
                                                        <i class="bx bx-edit-alt me-1"></i>
                                                        Edit
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <hr class="my-5" />


                                    <div class="demo-inline-spacing" th:if="${totalPages > 0}">
                                        <!-- Basic Pagination -->
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item first">
                                                    <a class="page-link" th:href="@{/content/panel/movies(page=1)}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                                                </li>

                                                <li class="page-item prev" th:if="${currentPage != 1}">
                                                    <a class="page-link" th:href="@{/content/panel/movies(page=${currentPage - 1})}"><i class="tf-icon bx bx-chevron-left"></i></a>
                                                </li>
                                                <li class="page-item prev disabled" th:if="${currentPage == 1}">
                                                    <a class="page-link" href="#"><i class="tf-icon bx bx-chevron-left"></i></a>
                                                </li>

                                                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                                                    <a th:if="${pageNumber == currentPage}" class="page-link active disabled" href="#">[[${pageNumber}]]</a>
                                                    <a th:unless="${pageNumber == currentPage}" class="page-link" th:href="@{/content/panel/movies(page=${pageNumber})}">[[${pageNumber}]]</a>
                                                </li>

                                                <li class="page-item next" th:if="${currentPage != totalPages}">
                                                    <a class="page-link" th:href="@{/content/panel/movies(page=${currentPage + 1})}"><i class="tf-icon bx bx-chevron-right"></i></a>
                                                </li>
                                                <li class="page-item next disabled" th:if="${currentPage == totalPages}">
                                                    <a class="page-link" href="#"><i class="tf-icon bx bx-chevron-right"></i></a>
                                                </li>

                                                <li class="page-item last">
                                                    <a class="page-link" th:href="@{/content/panel/movies(page=${totalPages})}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!--/ Basic Pagination -->
                                    </div>


                                </div>
                            </div>
                            <!--/ Borderless Table -->
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer th:replace="fragments/Footer :: footer"></footer>

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script th:if="${status} == 'updateSuccess' or ${status} == 'additionSuccess'">
    window.addEventListener("load", function() {
      const modal = document.getElementById("notification-toast");
      modal.classList.add("show");
      modal.classList.add("bg-secondary");
    });
</script>

<script th:if="${status} == 'passwordsDoNotMatch' or ${status} == 'recordAlreadyExists'">
    window.addEventListener("load", function() {
      const modal = document.getElementById("notification-toast");
      modal.classList.add("show");
      modal.classList.add("bg-danger");
    });
</script>

<script>
    new MultiSelectTag('movieActors')  // id
    new MultiSelectTag('movieGenres')  // id
    new MultiSelectTag('movieLanguages')  // id
</script>

<script src="/static/js/imageControl.js"></script>
<script src="/static/js/Sneat/jquery.js"></script>
<script src="/static/js/Sneat/popper.js"></script>
<script src="/static/js/Sneat/bootstrap.js"></script>
<script src="/static/js/Sneat/perfect-scrollbar.js"></script>
<script src="/static/js/Sneat/menu.js"></script>
<script src="/static/js/Sneat/main.js"></script>
</body>

</html>