<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modal</title>
</head>
<body>

<div th:fragment="addActor" class="modal fade" id="addActorModal" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Actor</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">

                </button>
            </div>

            <form method="POST" enctype="multipart/form-data" th:action="@{/content/actor/save}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameWithTitle" class="form-label">Actor's Name</label>
                            <input
                                    name="actorName"
                                    type="text"
                                    id="nameWithTitle"
                                    class="form-control"
                                    placeholder="Enter Actor's Name"
                                    required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-0">
                            <div class="mb-3">
                                <label for="FileToBeChecked" class="form-label">Actor's Photo*</label>
                                <input class="form-control" type="file" accept="image/*" id="FileToBeChecked" name="actorImage" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col md">
                            <label class="form-label">Gender</label>
                            <div class="form-check mt-3">
                                <input type="radio" id="male" name="actorGender" value="Male" th:value="Male" required>
                                <label for="male">Male</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="female" name="actorGender" value="Female" th:value="Female" required>
                                <label for="female">Female</label>
                            </div>
                        </div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>