<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>


<!--                            Password Update-->
<div th:fragment="genre" class="card mb-4">
    <h5 class="card-header">Update Genre</h5>
    <div class="card-body">

        <form id="updateGenre" th:action="@{/content/genre/update}" method="post">
            <div class="mb-3 col-md-6">
                <div class="col mb-3">
                    <label class="form-label" for="genreID">Genre ID</label>
                    <div class="input-group">
                        <input
                                th:value="${genre.ID}"
                                name="ID"
                                type="text"
                                class="form-control"
                                id="genreID"
                                placeholder="Genre ID"
                                aria-describedby="defaultFormControlHelp"
                                required
                                readonly
                        />
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <div class="col mb-3">
                    <label class="form-label" for="genreName">Genre Name</label>
                    <div class="input-group">
                        <input
                                th:value="${genre.genreName}"
                                type="text"
                                name="genreName"
                                class="form-control"
                                id="genreName"
                                placeholder="Genre Name"
                                aria-describedby="defaultFormControlHelp"
                                required
                        />
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <div class="form-password-toggle">
                    <label class="form-label" for="password">Password</label>
                    <div class="input-group">
                        <input
                                minlength="8"
                                id="password"
                                type="password"
                                name="password"
                                class="form-control"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="basic-default-password2"
                                required
                        />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">Update Genre</button>
        </form>
    </div>
</div>

</body>
</html>